<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Inventario garantías</title>

    <link href="../inspinia/css/bootstrap.min.css" rel="stylesheet">
    <link href="../inspinia/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../inspinia/css/animate.css" rel="stylesheet">
    <link href="../inspinia/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../kendo/css/kendo.common-bootstrap.min.css" />
    <link rel="stylesheet" href="../kendo/css/kendo.bootstrap.min.css" />
    <link rel="stylesheet" href="../kendo/css/kendo.bootstrap.mobile.min.css" />


</head>

<body class="skin-2">

    <div id="wrapper">

        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span>
                                <img alt="image" class="img-circle" src="/inspinia/img/user.png" style="max-width: 50px" />
                            </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs">
                                        <strong class="font-bold">
                                            <%= user.name%>
                                        </strong>
                                    </span>

                                </span>
                            </a>

                        </div>
                        <div class="logo-element">
                            IN+
                        </div>
                    </li>
                    <li class="">
                        <a href="/">
                            <i class="fa fa-home"></i>
                            <span class="nav-label">Inicio</span>
                        </a>
                    </li>


                    <li class="">
                        <a href="#">
                            <i class="fa fa-cube"></i>
                            <span class="nav-label">Productos</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level collapse">

                            <li>
                                <a href="/category">Tipos</a>
                            </li>
                            <li class="">
                                <a href="/brand">Marcas</a>
                            </li>

                            <li>
                                <a href="/model">Códigos</a>
                            </li>

                            <li>
                                <a href="/product">Números de serie</a>
                            </li>


                        </ul>
                    </li>

                    <li class="">
                        <a href="/bill">
                            <i class="fa fa-arrow-right"></i>
                            <span class="nav-label">Ingresos</span>
                        </a>
                    </li>

                    <li class="active">
                        <a href="/site">
                            <i class="fa fa-map-marker"></i>
                            <span class="nav-label">Sitios</span>
                        </a>
                    </li>







                    <li>
                        <a href="/provider">
                            <i class="fa fa-address-book"></i>
                            <span class="nav-label">Clientes</span>
                        </a>
                    </li>



                    <li class="">
                        <a href="/setting">
                            <i class="fa fa-cog"></i>
                            <span class="nav-label">Configuración</span>
                        </a>
                    </li>

                    <li>
                        <a href="/logout">
                            <i class="fa fa-sign-out"></i>
                            <span class="nav-label">Cerrar sesión</span>
                        </a>
                    </li>
                </ul>

            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg">



            <div class="wrapper wrapper-content">

                <div class="row">
                    <div class="col-md-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>
                                    Sitios
                                </h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>



                                </div>
                            </div>
                            <div class="ibox-content">
                                <button type="button" class="btn btn-default" onclick="openLotes()">
                                    <span class="fa fa-print"></span> Ingreso por lotes</button>

                                <div id="grid"></div>

                            </div>
                        </div>
                    </div>






                </div>


            </div>
            <div class="footer">
                <div class="pull-right">
                    Cineto Telecomunicaciones S.A.
                </div>
                <div>
                    <strong>Copyright</strong> Cineto Telecomunicaciones S.A. &copy; 2017
                </div>
            </div>

        </div>

    </div>

    <div class="modal fade" id="myModalLotes" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Ingreso por lotes</h4>
    
                    </div>
                    <div class="modal-body">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">1. Descargar la plantilla desde el siguiente enlace</a>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <a href="../PLANTILLASITIOS.csv">Plantilla.csv</a>
                                    </div>
                                </div>
                            </div>
                          <!--   <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">2. Abrir el archivo con una apliación de hojas de cálculo como por ejemplo Microsoft
                                            Excel. (Ver imagen)</a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <img width="100%" src="../manual/plantilla.png" alt="">
                                    </div>
                                </div>
                            </div> -->
                          <!--   <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">3. Ingresar los datos y guardar. (Ver imagen)</a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <img src="../manual/ingreso.png" width="100%" alt="">
                                    </div>
                                </div>
                            </div> -->
    
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">2. Cargar el archivo al sistema desde el siguiente enlace.</a>
                                    </h4>
                                </div>
                                <div id="collapse4" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <form class="form-horizontal ">
    
                                            <fieldset>
                                                <label for="csvFileInput">
                                                    <strong>Seleccionar archivo CSV:</strong>
                                                </label>
                                                <input type="file" class="" id="csvFileInput" onchange="handleFiles(this.files)" accept=".csv">
                                                <br>
                                                <!-- <i id="spinner" class="fa fa-spinner fa-spin fa-2x" aria-hidden="true"></i> -->
    
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
    
    
    
                           
    
    
    
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">3. Iniciar ingreso</a>
                                    </h4>
                                </div>
                                <div id="collapse6" class="panel-collapse collapse">
                                    <div class="panel-body">
    
                                        <button class="btn btn-success" onclick="iniciar()">Iniciar ingreso</button>
                                        <div class="hidden" id="output" style="height: 150; background-color: white"></div>
                                        <div id="output2" style="height: 150; background-color: white"></div>
    
    
    
                                    </di>
                                </div>
                            </div>
                        </div>
    
    
    
                    </div>
    
                </div>
    
            </div>
        </div>



    <!-- Mainly scripts -->
    <script src="../inspinia/js/jquery-3.1.1.min.js"></script>
    <script src="../inspinia/js/bootstrap.min.js"></script>
    <script src="../inspinia/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="../inspinia/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="../inspinia/js/inspinia.js"></script>
    <script src="../inspinia/js/plugins/pace/pace.min.js"></script>
    <script src="../kendo/js/kendo.all.min.js"></script>
    <script src="../kendo/js/jszip.min.js"></script>
    <script src="../kendo/js/kendo.messages.es-MX.min.js"></script>

    <script src="../logic/site.js"></script>

    <script src="../logic/lotessitios.js"></script>

    <script>
        function openLotes() {

            $('#myModalLotes').modal();
        }
    </script>




</body>

</html>